<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Tutorial1\bin\Debug\Tutorial1.exe" value="D3D11: Enumerate graphics adapter"/>
    <add key="Tutorial2\bin\Debug\Tutorial2.exe" value="D3D11: DirectX Initialitation"/>
	<add key="Tutorial3\bin\Debug\Tutorial3.exe" value="D3D11: Draw Text"/>
	<add key="Tutorial4\bin\Debug\Tutorial4.exe" value="D3D11: Draw Primitives"/>
	<add key="Tutorial5\bin\Debug\Tutorial5.exe" value="D3D11: Textured Objects"/>
	<add key="Tutorial6\bin\Debug\Tutorial6.exe" value="D3D11: Using Rasterizer And Alphablending"/>
	<add key="Tutorial7\bin\Debug\Tutorial7.exe" value="D3D11: Loading Wavefront Obj File"/>
	<add key="Tutorial8\bin\Debug\Tutorial8.exe" value="D3D11: Geometry Shader"/>
	<add key="Tutorial9\bin\Debug\Tutorial9.exe" value="D3D11: Normal Mapping"/>
	<add key="Tutorial10\bin\Debug\Tutorial10.exe" value="D3D11: Render To Texture"/>
	<add key="Tutorial11\bin\Debug\Tutorial11.exe" value="D3D11: Tessellation"/>
	<add key="Tutorial12\bin\Debug\Tutorial12.exe" value="D3D11: Compute Shader"/>
	<add key="Tutorial13\bin\Debug\Tutorial13.exe" value="D3D11: Geometry Instancing"/>
	<add key="Tutorial14\bin\Debug\Tutorial14.exe" value="D3D11: Output Buffer"/>
	<add key="Tutorial15\bin\Debug\Tutorial15.exe" value="D3D11: Toon Shading With Multiple Render Target"/>
	<add key="Tutorial16\bin\Debug\Tutorial16.exe" value="D3D11: Environment Mapping"/>
	<add key="TutorialI1\bin\Debug\TutorialI1.exe" value="XInput: Read Gamepad Status"/>
	<add key="TutorialI2\bin\Debug\TutorialI2.exe" value="XInput: Activate Vibration"/>
	<add key="TutorialA1\bin\Debug\TutorialA1.exe" value="XAudio: Play Wave"/>
	<add key="TutorialD1\bin\Debug\TutorialD1.exe" value="Direct2D: Draw Elements"/>
  </appSettings>
</configuration>
